html {
    font-family: 'Malgun Gothic', sans-serif;
}
body {
    font-size: 75%;
}


.selected_button {
    color: rgb(70, 78, 90);
}

button{
    background-color: white;
    border: 0;
    color: #999;
    cursor: pointer;
    font: inherit;
    line-height: 1.417em;
    margin: 6px 0;
    padding: 0;
}

.button_article_detail{
    background-color: white;
    border: 0;
    color: #999;
    cursor: pointer;
    font: inherit;
    line-height: 1.417em;
    margin: 6px 0;
    padding: 0;
}