


#video_box {
    /*overflow:hidden;*/
}

.overlay_item {
    position:absolute;
    /*background:#FFF;*/
    font-size:12px;
    z-index:2000;


    /*
    -webkit-text-fill-color: rgba(255, 255, 255, 1.0);
    -moz-text-fill-color: rgba(255, 255, 255, 0.2);
    -ms-text-fill-color: rgba(255, 255, 255, 0.2);
    -o-text-fill-color: rgba(255, 255, 255, 0.2);
    text-fill-color: rgba(255, 255, 255, 0.2);

    -webkit-text-stroke-width: 1px;
    -moz-text-stroke-width: 2px;
    -ms-text-stroke-width: 2px;
    -o-text-stroke-width: 2px;
    text-stroke-width: 2px;

    -webkit-text-stroke-color: #000;
    -moz-text-stroke-color: #000;
    -ms-text-stroke-color: #000;
    -o-text-stroke-color: #000;
    text-stroke-color: #0; */


    text-shadow: 1px 1px #000;

    color: #fff;
}

.cloud_input_box {
    text-shadow: 1px 1px #000;

    color: #fff;
}


/*
#video_overlays {
    vertical-align: top;
	z-index:1000;
}

#video-container{
    vertical-align: top;

    position: absolute;
    top: 0px;
} */

#main_layout{
	border: none;
}

#div_article_info{
    font-size: 12px;
    border: none;
}






/*
    비디오 플레이어의 디자인 스타일 시트
*/

#video-controls {
    /*position: absolute;*/
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    /*opacity: 1.0;*/
    opacity: 1.0;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    -ms-transition: opacity .3s;
    transition: opacity .3s;
    background-image: linear-gradient(bottom, rgb(15, 15, 15) 13%, rgb(52, 52, 52) 100%);
    background-image: -o-linear-gradient(bottom, rgb(15, 15, 15) 13%, rgb(52, 52, 52) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(15, 15, 15) 13%, rgb(52, 52, 52) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(15, 15, 15) 13%, rgb(52, 52, 52) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(15, 15, 15) 13%, rgb(52, 52, 52) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.13, rgb(27, 27, 27)),
        color-stop(1, rgb(52, 52, 52))
    );
}

button {
    background: rgb(15, 15, 15);
    border: 0;
    color: #EEE;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    vertical-align: middle;
}

button:hover {
    cursor: pointer;
}

.btn_play {
    background-image: url('public/images/btn_play.png');
}

.btn_pause {
    background-image: url('public/images/btn_pause.png');
}

/*
.btn_sound {
    background-image: url('public/images/btn_sound.png');
} */

/*
.btn_mute {
    background-image: url('public/images/btn_mute.png');
} */

.btn_t_on {
    background-image: url('public/images/btn_t_on.png');
}

.btn_t_off {
    background-image: url('public/images/btn_t_off.png');
}

#seek-bar {
    vertical-align: middle;

    -webkit-appearance: none;
    background-color: #606060;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #ff0004;
    opacity: 0.5;
    width: 10px;
    height: 15px;
}


#play-pause {
    width: 29px;
    height: 24px;
}

/*
#volume-bar {
    width: 60px;
    vertical-align: middle;
} */

/*
#video_control_right_div{
    vertical-align: middle;
    text-align: right;
} */

#full-screen{
    background-image: url('public/images/btn_fullscreen.png');
    width: 29px;
    height: 26px;
}

#cloud_on_off{
    width: 26px;
    height: 26px;
}